body{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background: #a6c1ee;
}

.App{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.balance{
  margin-top: 50px;
  background: #405cf5;
  color: #fff;
  border-radius: 6px;
  border-width: 0;
  font-family: -apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Ubuntu,sans-serif;
  font-size: 28px;
  font-weight: 600;
  padding: 16px 25px;
  position: relative;
  text-align: center;
  vertical-align: middle;
}

.App-buttons{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: auto;
}
.user {
  background-color:#405cf5;
  border-radius:6px;
  border-width:0;
  color:#fff;
  cursor:pointer;
  font-family:Roboto,sans-serif;
  font-size:25px;
  font-weight:600;
  height:auto;
  margin:12px;
  padding:1px 1px;
  text-align:center;
  white-space:nowrap;
  width:300px;
}
.App-buttons__cash{
  flex-direction: row;
}

.App-buttons__customers{
  flex-direction: row;
}

button {
  background-color: #405cf5;
  border-radius: 6px;
  border-width: 0;
  color: #fff;
  cursor: pointer;
  font-family: -apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Ubuntu,sans-serif;
  font-size: 28px;
  font-weight: 600;
  height: 64px;
  margin: 12px;
  padding: 0 25px;
  text-align: center;
  white-space:nowrap;
}

button:hover {
  background-color: #2f4ed2;
}
